.container{
  margin: 0 auto;
  border: 1px solid grey;
  width: 430px;
  text-align: center;
  margin-top: 80px;
  background: whitesmoke;
}

input{
  width: 400px;
  border-radius: 5px;
  padding: 10px;
  border: 0.5px solid grey;
  margin-bottom: 20px;

}
 #submit{
   background: blue;
   color: white;
   border: none;
   margin-top: 20px;
   margin-bottom: 50px;
 }

body{
  background: lightgrey;
  font-family: 'Roboto', sans-serif;
}
a {
  color: rgb(10, 204, 218);
  text-decoration: none;
}
.text-muted{
  background: lightgray;
}

.wrapper li{
  display: inline-block;

}

.wrapper{
  text-align: center;
}

.wrapper a{
  color: black;
}