.sign-in{
  float: right;
  margin: 20px 20px 20px 20px;
 
}
.sign-in p{
  line-height: 0.7px;
}
button{
  background:darkblue;
  color: white;
  border-radius: 8px;
  width: 100px;
}
#forgot{
  color: rgb(16, 174, 218);
}
.header-icons img{
  width: 118px; 
  height: 35px;
  /* margin-left: 300px;
  margin-right: 300px; */
  margin-bottom: 140px;
  text-align: center;
  margin: 0 auto;

}










/* .container{
  margin: 0 auto;
  border: 1px solid grey;
  width: 430px;
  text-align: center;
  margin-top: 80px;
  background: whitesmoke;
}

input{
  width: 400px;
  border-radius: 5px;
  padding: 10px;
  border: 0.5px solid grey;
  margin-bottom: 20px;

}
 #submit{
   background: blue;
   color: white;
   border: none;
   margin-top: 20px;
   margin-bottom: 50px;
 }

body{
  background: lightgrey;
  font-family: 'Roboto', sans-serif;
}
a {
  color: rgb(10, 204, 218);
  text-decoration: none;
}
.text-muted{
  background: lightgray;
}

.wrapper li{
  display: inline-block;

}

.wrapper{
  text-align: center;
}

.wrapper a{
  color: black;
}
.upper li {
  /* align-items: center; */
  display: inline;
  /* margin: 0 4 0 0 */
  
} */




